@model MyPortfolioProject.Models.Education
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Eğitim Bilgisi Girişi</h2>

<form method="post" action="/Education/CreateEducation">
    <label>Okul Adı</label>
    <input type="text" class="form-control" name="Title"/>
    <br />
    <label>Bölüm</label>
    <input type="text" class="form-control" name="SubTitle" />
    <br />
    <label>Açıklama</label>
    <textarea rows="4" class="form-control" name="Description"></textarea>
    <br />
    <button class="btn btn-primary">Eğitim Bilgisini Kaydet</button>
</form>